<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
</head>
<body>
    <h3>Produit</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Prix unitaire</td>
        </tr>
        {% for prod in produits %}
        <tr>
            <td>{{ prod.id_prod }}</td>
            <td>{{ prod.nomProd }}</td>
            <td>{{ prod.prixVenteProd }}</td>
            <td><a href="/updateProduit">Update</a></td>
            <td><a href="/deleteProduit">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <span><a href="/add/addProduit">Add</a></span>
</body>
</html>